{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "import/newline-after-import": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": ["error", { "allow": ["error", "tron"] }],
    "no-underscore-dangle": 0,
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/destructuring-assignment": "off",
    "react/prop-types": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    }
  }
}
